<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Students in the Deptt</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    table {

      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}

    th {
      background-color: #6699FF;
      color: white;
    }

    h1{
      text-align: center;
    }

    a{
      color: black;
    }
  </style>
</head>
</head>
<body>

  <h1>Students in the Department</h1>
  <br>
  <div class="container">
    <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Total Credits</th>
      <th>Instructor ID</th>
      <th>Department Name</th>
    </tr>

 
    <tr>
      <td><a href="/students/<%=student.id%>"><%=student.id%></a></td>
      <td><%=student.name%></td>
      <td><%=student.total_credits%></td>
      <td><%=student.instructor_id%></td>
      <td><%=student.department_name%></td>
    </tr>
    </table>

  </div>
</body>
</html>
