<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Instructors</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <style>
    table {

      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}

    th {
      background-color: #6699FF;
      color: white;
    }

    h1, h2{
      text-align: center;
    }
  </style>
</head>
</head>
<body>

  <h2>Instructor Details</h2>
  <br>
  <div class="container">
   <table>
    <tr>
      <th>Name</th>
      <th>Department Name</th>
      <th>Salary</th>
      <th>ID</th>
      <th></th>
    </tr>

    <tr>
      <td><%=instructor.name%></td>
      <td><%=instructor.department_name%></td>
      <td>&#8369 <%=instructor.salary%></td>
      <td><%=instructor.id%></td>
      <td>
        <form action="/instructors/<%=instructor.id%>/delete" method ="POST">
          <button class ="btn btn-danger"> <i class="fas fa-trash-alt" style="padding-right: 5px"></i>  Delete</button>
        </form>
      </td>
    </tr>
   </table>
  </div>

</body>
</html>
